/* ===========================================================
	首页
======================================================== */
/* 强档推荐 */
.recomTit small {
  color: #FF9A6A;
}
.recomIndi {
  background: url(../images/line.jpg) repeat-x left center;
  margin-bottom: 10px;
}
.recomIndi ol {
  position: static;
  margin-bottom: 0;
  width: 25%;
  background-color: #F8F8F8;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recomIndi ol li {
  border: none;
  background-color: #E5E3E1;
  box-shadow: 0 1px 0 #CDCAC9 inset;
  margin-right: 10px;
}
.recomIndi ol li.active {
  background-color: #555555;
  box-shadow: 0 1px 0 #555 inset;
  margin-right: 10px;
}
.recomIndi ol li:last-child {
  margin-right: 0;
}
.recomItem {
  border: none;
  margin-bottom: 0;
}
.recomItem-cover {
  border: solid 1px #BEBEBE;
  position: relative;
  z-index: 10;
}
.recomItem-cover div {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: white;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  line-height: 2;
}
.recomItem-cover:hover {
  border-color: #FF9A6A;
}
.recomItem-cover:hover img {
  filter: brightness(0.8);
}
.recomItemDescription {
  color: #999;
  font-size: 12px;
}
.recomItem-des {
  color: #999;
  font-size: 12px;
  margin: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recomItem-tag {
  color: #999;
  font-size: 12px;
  margin-right: 10px;
}
.recomItem-tag:last-child {
  margin-right: 0;
}
.recomCon {
  position: relative;
  z-index: 20;
}
.recomCon .carousel-control {
  background: white;
  width: 8%;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  color: currentcolor;
}
.recomCon .carousel-control:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.recomCon .carousel-control:hover span.glyphicon {
  color: #FF9A6A;
}
.recomCon .left {
  box-shadow: 6px 0 12px rgba(0, 0, 0, 0.6);
}
.recomCon .right {
  box-shadow: -6px 0 12px rgba(0, 0, 0, 0.6);
}
.recomItem-name {
  font-size: 12px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  /* ===========================================================
	首页
	======================================================== */
  /* 强档推荐 */
  .recomIndi ol {
    width: 15%;
  }
  .recomItem-name {
    font-size: 14px;
  }
  .recomCon .carousel-control {
    margin-top: -50px;
    height: 100px;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  /* ===========================================================
	首页
	======================================================== */
  /* 强档推荐 */
  .recomIndi {
    margin-top: 27px;
    margin-bottom: 0;
  }
  .recomCon .carousel-control {
    width: 4%;
    top: 0;
    margin-top: 0;
    height: auto;
  }
}
